<ul #chat>
  @for (message of messages; track message.id) {
    <li appMessage [message]="message"></li>
  } @empty {
    <p>Aucun message</p>
  }
</ul>
<small *ngIf="other" class="notification" [ngClass]="{isTyping: other.isTyping}">{{other.username}} est en train d'écrire ...</small>
<form [formGroup]="fg" (ngSubmit)="send()">
  <textarea pInputTextarea [autoResize]="true" rows="1" placeholder="Votre message ..." formControlName="message"></textarea>
  <p-button [disabled]="!fg.value.message" size="small" type="submit" severity="primary" label="Envoyer" icon="pi pi-send" iconPos="right"></p-button>
</form>
@if (loading) {
  <app-loader></app-loader>
}

