

:host {
  display: block;
  flex: 1;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  position: relative;

  ul {
    list-style: none;
    margin: 0;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  form {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    > textarea {
      flex: 1;
    }
  }
}